{% extends "layout.html" %}

{% block title %}
    API Connect
{% endblock %}

{% block main %}



<div class="d-flex justify-content-center h-100">

    <center>
        <p class="p-2 bg-dark text-white" style= "font-size:25px; text-align:center; width: 350px; "> Enter API </p>
        <p class="p-2 bg-dark text-white" style= "font-size:12px; text-align:center; width: 210px; "> Demo key: 1D4HIC26YASEOCD5 </p>
        
        
       <form action="/apiconnect" method="post">
            <input class="form-control me-2" style="width: 300px; height: 40px" type="password" name="api" 
            placeholder="Enter your API key">
            <div>
            <button class="btn btn-dark" type="submit">Submit</button> </div>
        </form>
            
    </center>   
</div>
                
                  
                  
                  



{% endblock %}
